body {
  display: flex;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  font-family: "Gill-sans", sans-serif;
}

main {
  color: black;
  padding: 20px;
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  
}

#image {
  max-width: 100%;
  height: auto;
  text-align: center;
}

legend {
  border: solid 2px black;
  border-style: solid;
}

img {
  display: block;
}

#img-div {
  background: azure;
  color: black;
}

#motto {
  font-style: italic;
  font-weight: 100
}

fieldset.motto {
  border: solid 1px black;
}

#image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

ul {
  list-style: none;
}

span.underline {
  text-decoration: underline;
}
